body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.movie-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 100%; /* Adjusted to fit mobile screen */
    max-width: 300px; /* Limiting the maximum width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    width: 100%;
    height: auto;
}

.movie-card h2 {
    font-size: 1.2rem;
    margin: 0.5rem;
}

.movie-card p {
    font-size: 0.9rem;
    margin: 0.5rem;
}

#movie-detail {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-container {
    margin-top: 1rem;
    width: 100%; /* Full width */
    max-width: 100%; /* Prevent overflow */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

video {
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
}

button {
    margin-top: 1rem;
}
